nextflow.enable.dsl=2

params.testing = ''

// The following variable, set by Kubernetes, must also exist to run the pipeline
// with other executors.
env.WORKSPACE = 'offline'

profiles {
    standard {
        docker {
            enabled = true
            temp = 'auto'
        }
    }

    no_docker {
        docker {
            enabled = false
        }
    }
    
    local_docker {
        docker {
            enabled = true
        }
        // Automated testing will need to create container with this name
        params.test_container = "summary_test"
    }
}